.pavlinbody{
	@extend .gusibody;
}
.pavlin{
	@extend .gusi ;
}
.pavlinimg{
	@extend .gusiimg ;
}
.pavlintext{
	@extend .gusitext ;
}

.kyribody{
	@extend .gusibody;
}
.kyri{
	@extend .gusi ;
	opacity: 1!important;
	.kyriimg{
		opacity: 0;
	}
	.kyritext{
		opacity: 0;
	}

}
.kyriimg{
	@extend .gusiimg ;
}
.kyritext{
	@extend .gusitext ;
}
.fazan{
	@extend .gusi ;
}

 .category{
 	@extend .gusibody;
 	width: 100%;
	 height: 100%;
 	background:url(../img/bg-cat.png) 0 0 repeat;
 	.wrapper{
 		margin:0 auto;
 	}
 		h1{
 			text-align: center;
 			border-bottom: 7px solid #F2FF29;
 			border-top: 5px solid #1932E6;
 			width: 100%;
 			color: $color_link;
 			background: url(../img/bg-h1.png) 0 0 repeat;
 		}
 	.cat{
		background: url(../img/bg-plit.jpg) 0 0 repeat;
		margin-top: 50px;
		border: 1px solid rgba(255, 255, 255, 1);
		width: 310px;
		float: left;
		margin-left: 15px;
		margin-bottom: 45px;
		overflow: hidden;
		text-align: center;
		z-index: 1;
		@include border-radius(4px 4px 4px 4px);
		word-wrap: break-word;
		min-height: 200px;
 		visibility: visible!important;
 		height: 430px;

 		hr{
 			position: relative;
 			top: -13px;
 			border: 0;
 			height: 2px;
 			@include background-image(linear-gradient(left, transparent, rgba(0, 0, 0, 0.45), transparent));
 			 
 		}
 		h2{
 			font-size: 128%;
 			color:$color_link;
 			padding: 10px 0 17px 0;
 			font-family: cursive;
 			line-height: 0.9;
 		}
 		.catimg{
			img {
				width: 100%;
				height: 230px;
				display: block;
				overflow: hidden;
				@include transition(all 1s ease-out);

				&:hover {
					@include transform(scale(1.2));
				}
			}
			overflow: hidden;
 		}
 		.cattext{
			position: relative;
			margin-top: -13px;
			padding: 18px;
			//background: url(../img/cont2.jpg)0 0 repeat;
			height: 100%;
			h2 {
				a {
					color: #0E5505;
					font-size: 77%;
				}
			}
 			margin:0;
 			padding: 0;
 			.more{
 				margin-top: 8px;
				color:$color_link;
 			}
			a:link{
				&:hover{
					color:#2a572a !important;
					font-size: 120%;
				}
			}
 			.cattextin{
 				background: rgba(150, 149, 149, 0.58);
			    margin: 12px 1px 0 1px;
			    padding:3px;

 			}
 		}
 	}
 }