$color_link : rgb(14, 85, 5);
$color_hover :  #13007A;
$color_border : rgba(68, 91, 158, 0.86);

@media only screen and (max-width: 1000px) {
	.cont1{
		background: url(../img/query/cont1.jpg) !important;
		background-size: cover !important;
	}
	.cont3{
		background: url(../img/query/cont3.jpg) !important;
		background-size: cover !important;
	}
	.cont4{
		background: url(../img/query/cont4.jpg) !important;
		background-size: cover !important;
	}
	.cont5{
		background: url(../img/query/cont5.jpg) !important;
		background-size: cover !important;
	}
	.cont6{
		background: url(../img/query/cont6.jpg) !important;
		background-size: cover !important;
	}
	.cont7{
		background: url(../img/query/cont7.jpg) !important;
		background-size: cover !important;
	}
	.cont8{
		background: url(../img/query/cont8.jpg) !important;
		background-size: cover !important;
	}

}

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
    list-style-type:none;
}
html,body {
	color: #1a1a1a;
	font-family: Merriweather, Georgia, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.75;
	vertical-align: baseline;
    height: auto;
}
.clearfix {
	z-index: 0;
	-height: 1%;
	*zoom: 1;
	display: table;
}
.responsive-img {
	width: 100%;
	/*height: auto;*/
	width: auto;
	display: block;
	border:none;
}
section {
	width: 100%;
	max-width: 1920px;
	min-width: 800px;
    min-height: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: table;
}
.cont1 {
	background: url(../img/cont1.jpg);
	background-size: cover;
	border-bottom: 2px solid #000;
	img {
		text-align: center;
		margin: 0 auto;
		position: absolute;
		top: 20%;
		left: 40%;

	}
}
.cont2 {
	background: url(../img/cont2.jpg)0 0 repeat;
	position: relative;
	border-bottom: 2px solid #000;
}
.cont3 {
	background: url(../img/cont3.jpg);
	background-size: cover;
	border-bottom: 2px solid #000;
}
.cont4 {
	background: url(../img/cont4.jpg);
	background-size: cover;
	border-bottom: 2px solid #25c420;
}
.cont5 {
	background: url(../img/cont5.jpg);
	background-size: cover;
	border-bottom: 2px solid #d6c823;
}
.cont6 {
	background: url(../img/cont6.jpg);
	background-size: cover;
	border-bottom: 2px solid #d6c823;
}
.cont7 {
	background: url(../img/cont7.jpeg);
	background-size: cover;
	border-bottom: 2px solid #d6c823;

}
#cont8{
	background: url(../img/conttop.png);
	background-size: cover;
	display: block;
	height: 28px;
	margin-top: -3px;
}
.cont8{
	background: url(../img/cont8.jpg);
	background-size: cover;
}
.bxslider {
	img {
		-webkit-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-transition: all 1s ease-in-out;
		&:hover {
			-webkit-transform: scale(1.1);
			-o-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
			position: relative;
			z-index: 1;
			border: 3px solid #000;
		}
	}
	margin: 0;
	padding: 0;
}
.txtmin {
	text-align: center;
	background-color: #345;
	margin: 0;
	color: #FFF;
	font-size: 100%;
	padding: 10px;
	filter: alpha(opacity=75);
	opacity: .75;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 2;
	font-family: sans-serif;

	letter-spacing: 2px;
}

.about {
	margin: 0 auto;
	padding: 60px;
	display: block;
	width: 89%;
	h3 {
		visibility: hidden;
		text-align: center;
		color: #0E5505;
		border-bottom: 1px solid;
	}
	.fotoin {
		visibility: hidden;
		margin: 0 auto;
		padding: 25px;

		ul li{
			float: left;
			a img {
				width: 180px;
				height: 180px;
				min-width: 150px;
				margin-left: 20px;
				float: left;
				border: 1px solid #0E5505;
				@include border-radius(200px 200px 200px 200px);
				-webkit-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-transition: all 1s ease-in-out;
				&:hover {
					-webkit-transform: scale(1.1);
					-o-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
}

.textunber {

	margin: 0 auto;
	display: block;
	padding: 25px;
	background: rgba(34, 35, 33, 0.11);
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #000000;
	clear: both;
	-webkit-box-shadow: 0px 0px 26px 3px rgba(204,186,204,1);
	-moz-box-shadow: 0px 0px 26px 3px rgba(204,186,204,1);
	box-shadow: 0px 0px 26px 3px rgba(204,186,204,1);
	 .content{
	 	border-bottom: 2px outset #E2E2E2;
	     clear: both;
	     padding:15px;
	     @include box-shadow(0px 21px 18px -5px rgba(140, 116, 2, 0.35));
	      @include border-radius(5px);
	 }
	 .img img{
		@include box-shadow (9px -1px 14px -4px rgba(52,71,55,1));
		 @include border-radius(5px);
		 margin-bottom:20px;
		 float:left;
	}
	h2{
			text-align: center;
		    font-family: inherit;
		    font-size: 111%;
		    word-wrap: break-word;
		    color: #716611;
		    margin-bottom: 6px;
		    margin-left: 260px;
		    position: relative;
		    top: 37px;
	}
	.gallery-item img{
		@include border-radius(50px);
		border: 2px solid rgb(60, 88, 57);
	}
}
#obl2 {
	left: 250px;
	width: 250px;
	margin: 0 auto;
	position: absolute;
	z-index: 2;
}
#obl1 {
	width: 250px;
	position: absolute;
	z-index: 3;
}
.gusibody {
	margin: 0 auto;
	h3 {
		a {
			text-align: center;
			background: rgba(178, 171, 171, 0.51);
			clear: both;
			display: block;
			color: $color_link;
			font-size: 133%;
			z-index: 5;
			position: relative;
			margin-bottom: 50px;
			&:hover {
				color: $color_hover;
			}
		}
		margin-top: 20px;
	}
}
.gusi {
	margin-top: 50px;
	border: 1px solid #ddd;
	width: 310px;
	float: left;
	background: #E4D8A4;
	margin-left: 15px;
	margin-bottom: 45px;
	overflow: hidden;
	text-align: center;
	z-index: 1;
	@include border-radius(4px 4px 4px 4px);
	word-wrap: break-word;
	visibility: hidden;
	height: 408px;
    min-height: 200px;
    background: url(../img/cont2.jpg)0 0 repeat;
	background-size: cover;
}
.gusiimg {
	img {
		width: 100%;
		height: 230px;
		display: block;
		overflow: hidden;
		@include transition(all 1s ease-out);
		
		&:hover {
			@include transform(scale(1.2));
		}
	}
	overflow: hidden;
}
.gusitext {
	position: relative;
	margin-top: -13px;
	padding: 18px;
	h2 {
		a {
			color: #0E5505;
			font-size: 77%;
		}
	}
}

.more {
	clear: both;
}
.forma{
	position:fixed;
	right:0;
	z-index: 5;
	img{
    height:190px;
    float: left;
    position: relative;
    right: 0;
    top: 32px;
    cursor: pointer;
	}
	.semdmail{
		margin-right: -400px;
		float: right;
	}
	#close{
		height: 37px;
		z-index: 6;
		position: absolute;
		left: -12px;
		top: -9px;
		&:hover{
			background: url(../img/close-hover.png) 0 0 no-repeat;
		}
	}
	form{
		background: #3D9DE4;
		@include border-radius(20px);
		position: relative;
		top: 20px;
		font-family: cursive;
		button{
			left: 112px;
		    bottom: 19px;
		    padding: 8px;
		    position: relative;
		    &:hover{
		    	border: 2px solid #red;
		    }
		}
		p{
			font-size: 131%;
		    position: relative;
		    top: 18px;
		    color: $color_link;
		    text-align: center;
		}
		input{
			    height: 28px;
			    float: right;
			    margin-right: 6px; 
			    @include border-radius(8px);
			    &:hover{
			    	@include box-shadow (0px 0px 8px 0px rgba(19,209,41,1)inset);
			    	 

			    }
		}
	}
}
.hidden{
	display:none;
}
.katalog{
	position:relative;
	width: 100%;
	ul{
		list-style-type: none;
		margin: 0 auto;
		width: 90%;
		li{
			float: left;
		    width: 350px;
		    word-wrap: break-word;
		    display: block;
		    border: 1px solid;
		    margin-left: 10px;
		    margin:0 auto;
		}
	}
	h3 {
		&:first-child {
			text-align: center;
			background: rgba(178, 171, 171, 0.51);
			margin: 0 auto;
			width: 50%;
			margin-bottom: 50px;
			margin-top: 10px;
		}
		&:last-child {
			text-align: center;
			background: rgba(178, 171, 171, 0.51);
			margin-bottom: 50px;
		}
		a {
			color: #0E5505;
			font-size: 173%;
			padding: 5px;
			&:hover {
				color: #13007A;
			}
		}
	}
}

#breadcrumbs{
	padding: 20px;
	font-size: 120%;
	font-family: cursive;
	letter-spacing: 1px;
	.breadcrumb_last{
	    margin-right: -9px;
	    padding: 9px;
	    @include border-radius (10px);
	    @include box-shadow (0px 0px 11px 0px rgba(196,165,39,1));
	    border: 2px solid #E9E9E9;
	}
	>span{
		background: rgba(168, 191, 169, 0.56);
		padding: 10px;
		@include border-radius(4px);
	}
	a{
	color:$color_link;
	}
}
.kontackt{
	position: fixed;
	right: 0;
	z-index: 6;
	top: 254px;
	a >img{
		height: 197px;
	    cursor: pointer;
	    float: left;
	    position: relative;
	}
}
#contact{
  list-style-type: none;
  z-index: 6;
  background: rgb(255, 165, 0);
  display: table;
	cursor: pointer;
  #close2{
    height: 37px;
    z-index: 6;
    position: absolute;
    left: -12px;
    top: -9px;
    &:hover{
      background: url(../img/close-hover.png) 0 0 no-repeat;
      cursor: pointer;
      @include transform(scale(1.2));

    }
  }
	.socseti{
		position: relative;
		right: 93px;
	}
  li{
    float: right;
    margin: 25px;
    padding: 20px;
    background: #FFFCFC;
    @include border-radius(80px 4px 84px 86px);
    color: orange;
    &:hover{
      background:#4B8D10;
      color:white !important;
    }
  }
  #vk{
    color: rgba(0, 18, 255, 0.79);
  }
  #fecbook{
    color: #0006FF;
  }
  #lastli{
	  margin-right: 109px;
	  font-size: 131%;
	  padding: 2px 13px 53px 13px;
	  @include border-radius(80px 4px 290px 86px);
	  &:hover{
		  background: white;
	  }
  }
}
.singl{	
	background:url(../img/bg-cat.png) 0 0 repeat;
.wrap{
	position: relative;
	width: 84%;
	display: block;
	margin: 0 auto;
	.hr{
		position: relative;
		top: -10px;
		border: 0;
		height: 2px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(24, 97, 26, 0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(24, 97, 26, 0.75), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(24, 97, 26, 0.75), rgba(0,0,0,0));
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(24, 97, 26, 0.75), rgba(0,0,0,0));
	}
	h1{
		text-align: center;
		margin: 10px 0 25px 0;
		font-family: sans-serif;
		font-size: 164%;
		letter-spacing: 4px;
		color:$color_link;

	}
	.textsingle{
		word-wrap: break-word;
		width: 80%;
		position: relative;
		left: 10%;
		background: rgba(132, 236, 88, 0.12);
		padding: 26px;
		border-radius: 20px;
	}
}
}
.singleimg{
	img{
	margin: 0 auto;
	text-align: center;
	border: 2px solid rgba(35, 160, 19, 0.42);
	border-radius: 26px;
	padding: 2px;
		display: block;
		}
}

.editpost{
	font-size: 136%;

}
#gallery-2{
	margin: 0 auto;
	position: relative;
	display: block;
	width:80%;
  margin-bottom:46px !important;
  > a{
    img{
      float: left;
    }
  }
  dl{
	  float: right;
	  dt {

		  a {
			  margin: 0 auto;
			  text-align: center;
			  display: block;
		  }
		  img {
			  border: 2px solid rgba(35, 160, 19, 0.42);
			  border-radius: 26px;
			  padding: 2px;
			  float: left;

		  }
	  }
  }
}
#respond{
	width: 70%;
	margin: 0 auto;
}
.comment-form-comment{

	padding: 25px;
	background: rgba(172, 185, 172, 0.39);
	@include  border-radius (12px);
    label{
      color: #495428;
      font-size: 126%;
    }
	textarea{
		@include  border-radius (9px);
		padding: 10px;
		width: 100%;
	}
}
#submit{
  padding: 10px;
	margin: 23px 0 0 36px;
  width: 138px;
  height: 36px;
  border-radius: 11px;
  background: #CADC91;
	&:hover{
		color: rgb(152, 153, 139);
        cursor: pointer;
	}
}

.commentlist{
	background: rgba(144, 134, 144, 0.26);
	padding: 32px;
	@include border-radius (25px);
	list-style-type: none;
	width: 70%;
	margin: 0 auto;
}
.comment-form-author {
	label {
		padding-right: 36px;
	}
	input{
		height: 30px;
        width: 250px;
		margin: 15px 0;
		border-radius: 8px;
		border: 2px solid rgba(14, 142, 47, 0.58);
		&:focus{
			border: none !important;
		}
	}
}
.comment-form-email{
	label {
		padding-right: 19px;
	}
	input{
		height: 30px;
        width: 250px;
		margin: 15px 0;
		border-radius: 8px;
		border: 2px solid rgba(14, 142, 47, 0.58);
		&:focus{
			border: none !important;
		}
	}
}
#reply-title{
	color: $color_link;
  text-align: center;
  background: rgba(221, 228, 216, 0.59);
  width: 300px;
  display: table;
  position: relative;
  left: 37%;
  border-radius: 25px;
  border-top: 2px solid;
}
.comment{
    width: 100%;
    background: rgba(255, 255, 255, 0.79);
	padding: 10px;
	margin: 10PX;
	border: 1px solid #8E8585;
	@include border-radius (5px);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.depth-2{
	background: #DEDEDE;
}
.comtext{
  float: right;
  padding: 16px;
  width: 75%;
}
.comment-author{
  float: left;
  margin: 10px;
  width: 20%;
   .fn{
     font-size: 119%;
     text-align: center;
     color: rgba(65, 121, 4, 0.68);
     border-bottom: 1px solid #B7B7B7;
   }
  .reply{
    font-size:76%;
  }
}
.comment-image-reloaded a img {
  border: 2px solid rgba(35, 160, 19, 0.42);
  border-radius: 26px;
  padding: 2px;
}
#comment-image-reloaded-wrapper{
  margin: 10px 0 10px 73px;
}
.comment-reply-title{
  margin: 25PX;
  text-align: center;
  background: rgba(111, 97, 97, 0.18);
}
.white-popup-block {
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}


.pitomnikimg{
	float:left;
	width: 50%;
	img{
		margin-left: 20px;
		@include border-radius(25px);
		@include box-shadow ( 0px 0px 31px -2px rgba(0,0,0,1));
		margin-left: 20px;
		width: 100%;
		height: 450px;
		border: 1px solid blue;

	}
}
.pitomniktext{
	float: right;
	background: rgb(251, 244, 244);
	margin-right: 63px;
	margin-top: 4%;
	padding: 5px 12px 0 17px;
	width: 30%;
	height: 300px;
	word-break: break-all;

	@include box-shadow(0px 10px 31px -2px rgba(0,0,0,1));
	.more{
		@include box-shadow(0px 10px 31px -20px rgba(0,0,0,1));
		text-align: center;
		margin: 2px;
		color: #1C3306;
		background: rgba(216, 208, 208, 0.41);
		border: 1px dotted #AB9595;
		font-family: sans-serif;
		font-size: 100%;
		&:hover{
		color: #3e6408;
			background: rgba(94, 86, 86, 0.41);
	}
	}

	h2{
		text-align: center;
		a{
			color: $color_link;
		}
	}
}
.pitomnikbody{
	width: 100%;
	min-width: 700px;
	.pitomnikcarusel{
		.bx-controls-direction{
			width: 12%;
			margin: 22px;
			padding: 3px 0px 3px 22px;
			position: relative;
			top: -80px;
			right: -78%;
			z-index: 100;

			.bx-prev{
				color: #1B1B33;
				margin-right: 20px;
				font-size: 100%;
				padding: 7px;
				@include border-radius (10px);
				font-family: cursive;
				border: 1px solid #9E6A6A;

				&:hover{
					background: rgba(163, 160, 84, 0.82);
				}
			}

			.bx-next{
				color: #1B1B33;
				font-size: 100%;
				padding: 7px;
				@include border-radius (10px);
				font-family: cursive;
				border: 1px solid #9E6A6A;
				&:hover{
					background: rgba(163, 160, 84, 0.82);
				}
			}
		}
	}

}

.hr{
	position: relative;
	top: -11px;
	border: 0;
	height: 2px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgb(67, 104, 123), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgb(67, 104, 123), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgb(67, 104, 123), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgb(67, 104, 123), rgba(0,0,0,0));
}

/*.pitmenu{
	position: relative;
	border-bottom: 2px solid;
	display: table;
	width: 100%;
	ul li{
		float: left;
		margin-left: 25px;
		background: red;
		padding: 0 9px 7px 8px;
		display: block;
		color: black;
		border-top: 2px solid;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		&:active{
			background: yellow;
		}
	}
}*/

.pitmenu{
	border-bottom: 3px solid #215719;
	ul{
		margin-left: 67px;
	}
}
.tab {
	display: inline-block;
	zoom:1; *display:inline;
	background: #eee;
	border: solid 1px #999;
	border-bottom: none;
	@include border-radius (4px 4px 0 0);
}
.tab a {
	font-size: 113%;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
	color: #1D251B;
	font-family: sans-serif;
}
.tab a:hover {
	text-decoration: underline;
}
.tab.active {
	background: rgba(247, 234, 172, 0.98);
	padding-top: 6px;
	position: relative;
	top: 1px;
	border-right: 3px solid #215719;
	border-left: 3px solid #215719;
	border-top: 3px solid #215719;
}
.tab a.active {
	font-weight: bold;
}
.slider{
	margin: 0 auto;
	position: relative;
	border: 5px solid #2B4B20;
	border-radius: 5px;
	padding: 1px;
	background: rgba(44, 68, 36, 0.29);
}
.slider-wrapper{
	float: left;
	width: 300px;
 li	a img{

		width: 100% !important;
		height: 251px !important;
	}
}
.pager{
	float: left;
	width: 360px;
	background: #FAFAFA;
}
.pager div{
	list-style: none;
	display: block;
	padding: 0 18px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 50px;
	font: 13px/52px Arial, sans-serif;
	border-top: 1px solid #DDD;
	position: relative;
	cursor: pointer;
}
.activeint{
	background: #5BA6E3;
}
.activeint:before{
	content: '';
	position: absolute;
	top: 0;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 25px 25px 0;
	border-color: transparent #5BA6E3 transparent transparent;
}
#interesting_articles{
	background: rgba(209, 226, 65, 0.21);
	padding: 17px;
	border: 2px solid #AB9BA2;
	margin-top:20px;
	margin-bottom: 26px;
	h3{
		text-align: center;
		padding: 10px;
		color: green;
	}
}

.search{
	position: fixed;
	z-index: 1;
	@include transform(translate(-100%));
	.searchform{
		#closesearch{
			position: relative;
			top: -32px;
			z-index: 5;
			&:hover{
				background: url(../img/close-hover.png) 0 0 no-repeat;
				cursor: pointer;
				@include transform(scale(1.1));
			}
		}
	}
}

#imgsearch{
	width: 60px;
	height: 60px;
	position: fixed;
	left: -1%;
	top: 81px;
	cursor: pointer;
	z-index: 1;
	&:hover{
		@include transform(scale(1.1));
	}
}
#searchform{
	z-index: 4;
	position: relative;
	left: 17px;
	#formainput{
		border: none;
		height: 27px;
		padding-left: 5px;
	}
}
#searchformimg{
	position: relative;
	z-index: 1;
	top: 69px;
	z-index: 1;
}
.searchsection{
    background: rgba(196, 208, 204, 0.4);
.searchpage{
	margin:0 auto;
	width:80%;
	.searchbody{
		border: 1px solid #826d6d;;
		margin:10px;
		padding: 45px;
		@include  box-shadow( 0px 0px 14px 2px rgba(97, 158, 59, 0.75));
		@include border-radius(5px)
	}
}
}
.page-numbers{
	margin: 6px;
	position: relative;
	bottom: 3px;
	.current{
		font-size: 110%;
		color: green;
		font-style: oblique;
	}
	li{
		float: left;
		margin-right: 19px;
		display: block;
		background: #969690;
		border: 2px solid rgba(93, 88, 88, 0.57);
		@include border-radius(7px);
		a{
			color: #000000;
			font-size: 105%;
		}
		&:hover{
			background: #d6ded7;
		}

	}
}
.alignnone{
	float: left;
	margin: 8px;

}